<!DOCTYPE html>
<html lang="{{ $lang }}">
<head>
{% partial head %}
{% if $styles %}{{{ $styles }}}{% endif %}
</head>
<body>

{% if $nav %}
<nav class="nav">
	<div class="nav__inner">
		<a class="nav__brand" href="/">{% if $brand %}{{{ $brand }}}{% endif %}{% unless $brand %}Bifröst{% endunless %}</a>
		<div class="nav__links">
			{{{ $nav }}}
		</div>
	</div>
</nav>
{% endif %}

<main class="main">
	{% partial flash %}
	{% yield %}
</main>

{% if $scripts %}{{{ $scripts }}}{% endif %}

</body>
</html>
